.border-bottom {
    border-bottom: 1px solid #7d97ad;
}

footer {
    align-self: flex-end;
    background-color: rgba(217, 177, 140, 0.1);
}

.text-size-bigger {
    font-size: 50px;
}

.text-center {
    text-align: center;
}

.text-size-big {
    font-size: 30px;
}

.font-thin {
    font-weight: 100;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.muted-color {
    color: #997300;
    opacity: 0.5;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right;
}

.text-decoration {
    text-decoration-line: underline;
}

.space-between {
    margin: 20px 0;
}

.padding-around {
    padding: 10px;
}

.space-bottom {
    margin-bottom: 20px;
}

.space-left {
    margin-left: 10px;
}

.space-right-left {
    margin-right: 10px;
    margin-left: 10px;
}

.margin-auto {
    margin: 0 auto;
}

.floated {
    float: right;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 3.6em;
}

.flex {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.space-around{
    justify-content: space-around;
}

[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

.display {
    display: none;
}

/* nav header*/

.nav-container{ 
    position: fixed;
    top: 0;
    max-width: 1200px; 
    margin: 0 auto;   
    padding: 10px;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 3;
    background-color: '#fff';
    will-change: transform;
    transition: transform 0.2s ease-in-out;
}

.page-nav {
    float: right;
    margin-right: 2%;
}

#page-wrap {
    height: inherit;
 }
 
#page-header{
     height: 100%;
     max-height: 800px;
     background-color:#252839;
     color: #f2b632; 
     background-size: 100% 100%;
     align-items: center;
     flex-direction: column;
     justify-content: space-around;   
 }
 
#page-header .summary {
     font-weight: 900;
     font-size: 1.3em;
     line-height: 1.6;
     letter-spacing: 2px;
     width: 50%;
     margin: 0 auto;
 }
 
 #header-text {
     margin-top: 15%;
 }

.menu-button {
    position: fixed;
    z-index: 3;
    top: 15px;
    right: 15px;
    will-change: transform;
    transition: transform 0.2s ease-in-out;
    transform: translateY(-150%);
    outline: transparent;
    background-color: transparent;
    border: 0;  
}

.menu-button:hover {
    cursor: pointer;
}

/*Carrusel css*/

.carrusel {
    position: relative;
}

.hidden-overflow {
    overflow-x: hidden;
}

.content-container {
    will-change: transform;
    transition: transform 0.5s ease-in-out;
}

/*Carrusel button css*/

.carrusel-link {
    position: absolute;
    bottom: 50%;
}

.next-button {
    right: 4%;
}

.back-button {
    left: 4%;
}

.carrusel {
    background-color: rgba(217, 177, 140, 0.1);
}

.carrusel-content{
    width: 80%;
    margin: 0 auto;
}

.content-container {
    height: 100%;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    background-repeat: no-repeat;
    background-position: 60% 8%;
}

.content span {
    color: #002b3e;
}

.content li {
    list-style-type: none;
    margin-bottom: 10px;
}

/*Projects*/

.project-container {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding-top: 4%;
    padding-bottom: 4%;
    will-change: transform;
    transition: transform 0.2s ease-in;
}

.project:hover{
    opacity: 0.9;
    transform: scale(0.9);
}

.project img {
    margin: 0 auto;
    max-width: 100%;
    
}
/*responsive*/
@media screen and (max-width: 768px) {
    .text-size-bigger {
        font-size: 40px;
    }
    #page-header {
        background: url('../images/header-small.jpg') no-repeat fixed;
        height: 100%;
        max-height: 512px;
    }
    
    .project-container {
        width: 100%;
    }
    
    .project {
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    #page-header .summary {
        font-weight: 600;
        width: 90%;
        font-size: 1em;
    }
    
    #header-text {
        margin-top: 10%;
    }    
    
}

@media screen and (min-width: 769px) {
    .project-container {
        width: 75%;
    }
}

@media screen and (max-width: 625px) {
    .text-size-bigger {
        font-size: 30px;
    }
    .font-thin {
        font-weight: 400;
    }
    
    .nav-container {
        transform: translateY(-100%);
    }
    
    .menu-button {
        transform: translateY(150%);
    }
}

@media screen and (max-width: 480px) {
    .text-size-bigger {
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    .col-3,
    .col-9 {
        width: calc(100% - 20px);
    }
}

@media screen and (min-width: 700px) {
    .col-4 {
        width: calc((100% - 40px) / 2);
    }
    .display {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .col-4 {
        width: calc((100% - 40px) / 3);
    }
    .flex {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        margin-right: auto;
        margin-left: auto;
    }
    .space-right-left {
        margin-right: 0;
        margin-left: 0;
    }
}