@media screen and (max-width: 380px) {
	.project-buttons-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-right: 0;
	}
	
	.project-description {
		margin: 0;
	}	
	
	.page-footer p {
		font-size: 15px;
	}
	
	
}

@media screen and (max-height: 460px) {
	.text-header img {
		display: none;
	}
	
	h1 {
		font-size: 1.5em;
	}
	p {
		font-size: 12px;
    	font-weight: 400;
    	font-style: normal;
    	line-height: 1.45;
    	letter-spacing: -.003em;
	}
	
 }

@media screen and (max-width: 620px) {
   h1 {
	   font-size: 2em;
   }
   h2 {
	   font-size: 1em;
	   font-weight: 900;
   }
}
 
 @media screen and (max-width: 760px) {
	 .center-article {
		 width: 100%;
		 padding: 0 20px;
		 text-align: center;
	 }
	 
	 .project {
		flex-direction: column;
		align-items: center; 
		flex-wrap: wrap;
		width: 100%;
	} 
	
	.project-description {
		text-align: center;
	}	
	 
	 .about-project {
		width: 95%;
		text-align: center;
		margin-right: 0;
		margin-bottom: 30px;
	}
	
	.page-nav nav{
		width: 100%;
	}
 }
 
 @media screen and (min-width: 761px) {
	.page-nav nav{
		width: 75%;
	}
 }

 @media screen and (max-width: 1200px) {
	.project {
		width: 80%;
		justify-content: space-around;
	}
	.project-description {
		padding: 20px 0;
	}
	
	.project-over {
		top: 5%;
	}
 }
 
 @media screen and (min-width: 1200px) {
	.page-nav nav{
		width: 50%;
	}
 }
 
 



