@media screen and (max-width: 770px) {
    .text-size-bigger {
        font-size: 40px;
    }
}

@media screen and (max-width: 625px) {
    .text-size-bigger {
        font-size: 30px;
    }
    .font-thin {
        font-weight: 400;
    }
}

@media screen and (max-width: 475px) {
    .text-size-bigger {
        font-size: 20px;
    }
}

@media screen and (max-width: 355px) {
    .col-3,
    .col-9 {
        width: calc(100% - 20px);
    }
}

@media screen and (min-width: 700px) {
    .col-4 {
        width: calc((100% - 40px) / 2);
    }
    .display {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .col-4 {
        width: calc((100% - 40px) / 3);
    }
    .flex {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1020px) {
    .container {
        max-width: 1020px;
        margin-right: auto;
        margin-left: auto;
    }
}