* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: 1.2em;
    font-weight: 400;
    color: #2d3c49;
}

body,
html {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    margin: 10px auto;
}

h5 {
    margin: 0;
}

h4 {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #02b3e4;
}

.img-width {
    max-width: 100%;
}

.border-bottom {
    border-bottom: 3px solid #7d97ad;
}

footer {
    align-self: flex-end;
}

.text-size-bigger {
    font-size: 50px;
}

.text-size-big {
    font-size: 30px;
}

.font-thin {
    font-weight: 100;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.muted-color {
    color: #7d97ad;
    opacity: 0.5;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right;
}

.text-decoration {
    text-decoration-line: underline;
}

.space-between {
    margin: 20px 0;
}

.space-around {
    padding: 10px;
}

.space-bottom {
    margin-bottom: 20px;
}

.space-left {
    margin-left: 10px;
}

.space-right-left {
    margin-right: 10px;
    margin-left: 10px;
}

.margin-auto {
    margin: 0 auto;
}

.floated {
    float: right;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 3.6em;
}

.flex {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.column {
    flex-direction: column;
}

.row,
.col-12,
.col-4 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-3 {
    width: calc(25% - 20px);
}

.col-9 {
    width: calc(75% - 20px);
}

[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

.display {
    display: none;
}


/*Carrusel css*/

.carrusel {
    position: relative;
    ;
}

.hidden-overflow {
    overflow: hidden;
}

.content {
    height: 20vh;
}

.content-container {
    will-change: transform;
    transition: transform 1s ease-in-out;
}


/*Carrusel button css*/

.carrusel-link {
    position: absolute;
    top: 50%;
}

.next-button {
    right: 2px;
}

.back-button {
    left: 2px;
}

.carrusel {
    background-color: rgba(214, 216, 214, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.content-container {
    height: 200px;
    overflow-y: scroll;
}

.content header {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

.content p {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}