* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2em;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px auto;
    font-weight: 100;
    font-size: 4em; 
}

h2 {
    margin: 10px auto;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.2em;
}

h3 {
    margin: 20px auto;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

h5 {
    margin: 0;
}

h4 {
    margin-bottom: 10px;
}

a {
    color: #173e43;
    text-decoration: none;
}

p {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -.003em;
}

li {
    font-size: 1.2em;
}

a:hover {
    color: #fae596;
    cursor: pointer;
}

button {
    outline: transparent;
}

img {
    max-width: 100%;
}

hr {
    background-color:rgba(63, 176, 172, 0.5);
    width: 40%;
    height: 0.5px;
}

footer {
    padding-top: 2%;
    padding-bottom: 2%;
}

/*----*/

#page-wrap {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
}
.col-12{
    width: 100%;
}

.col-1 {
   width: 8.33%;
}

.col-2 {
    width: 16.66%;
}
 
.col-3 {
   width: 25%; 
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
   width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.6%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66;
}

/*general use classes*/

.text-yellow {   
    color: #fae596;
}

.text-dark-blue {
    color: #173e43;
}

.text-muted {
    color: #dddfd4;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.background-light-blue {
    background-color:  rgba(63, 176, 172, 0.9);
}

.yellow-button {
    background-color: #fae596; 
    border: 4px solid #fae596;
    color: #173e43;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    font-family:  'Montserrat', sans-serif;
}

.yellow-button:hover {
    background-color: transparent;
    border-radius: 5px;
    color: #dddfd4;
    cursor: pointer;
}

.big-icon {
    font-size: 25px;
}

.center-article {
    width: 700px;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.padding-top-bottom{
    padding-top: 7%;
    padding-bottom: 5%;
} 

.sticky {
    position: fixed;
    top: 0;
    z-index: 4;
}

.relative {
    position: relative;
}

/*page header*/

#page-header {
    height: 100%;
    max-height: 100%;
}

.header-content {
    background: linear-gradient(to right,#173e43,#3fb0ac);
    justify-content: space-around;
    height: 100%;
    min-height: 100%;
}

.text-header {
    overflow: hidden;
}

.text-header h1, .text-header h2 {
    will-change: transform;
    -webkit-transform: translateX(100%) scale(0, 0);
    -ms-transform: translateX(100%) scale(0, 0);
    transform: translateX(100%) scale(0, 0);
}

h1.slide-in, h2.slide-in {
    -ms-transform: translateX(0%) scale(1, 1); 
    -webkit-transform: translateX(0%) scale(1, 1); 
    transform: translateX(0%) scale(1, 1);
}

.text-header img {
    will-change: transform;
    border-radius: 50%;
    border: 3px solid #dddfd4;
}

.header-footer p {
    padding:10px; 
}

/*page-nav*/

.page-nav .menu, .page-nav .hamb-menu {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    will-change: transform;
    transition: opacity 1s linear, transform 0.5s ease-in-out;
}

.page-nav .slide-down {
    transform: translateY(50px);
    opacity: 1;
    z-index: 2;
}

.page-nav .menu nav{
    display: flex;
    justify-content: space-around;
}

.page-nav .menu a {
    padding: 16px;
    text-transform: uppercase;
    color: #ffff;
    font-weight: bolder;
}

/*hamb menu*/

.hamb-menu {
    opacity: 0;
    transform: scale(0)
}

.page-nav  .hamb-menu button:focus {
    opacity: 0.5;
}

.page-nav .hamb-menu button {
    padding: 14px 30px;
    pad: 16px;
    color: #173e43;
    font-size: 30px;
    background-color: transparent;
    border: none;
}

/*main container*/  

.personal-projects {
    background-color: rgba(221, 223, 212, 0.4);
}

/*projects*/

.projects-container {
    background-color: rgba(221, 223, 212, 0.4);
    align-items: center;
}

.project {
    margin: 40px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.about-project {
    width: 50%;
    margin-right: 30px;
}

.project-title {
    text-transform: capitalize;
}

.project-description {
    font-weight: bolder;
    font-size: 16px;
    text-align: initial;
    color:#7497a4;
    margin-bottom: 30px;
}

.button-project {
    will-change: transform;
    transition: transform 0.3s ease-out;
    margin-right: 10px;
}

.button-project:hover {
    transform:  scale3d(1.1, 1.1, 1.1);
    background-color: #000000;
    color: #fcedb6;
    border-color: #000000;
}

.link-project {
    will-change: transform;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.project-over {
    width: 100%;
    margin-top: 5px;
    position: absolute;
    top: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    z-index: 3;
    visibility: hidden;
}

.link-project:hover {
    transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9); 
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    opacity: 0.9;
}

.link-project:hover .project-over {
    visibility: visible;
}

.project-over button {
    background-color: #173e43;
    color: #ffff;
    padding: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin: 5px;
}

.project img {
    border-radius: 10px;
}

/*page footer*/
.page-footer {
    background: linear-gradient(to right,#173e43,#3fb0ac);
    color: #dddfd4;
    line-height: 1.2em; 
}

.footer-nav a {
   font-size: 30px;
   margin-right: 10px;
   margin-left: 10px;
}


/*animation*/


.shrink {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    transform: scale(0);
    -ms-transform: scale(0); 
    -webkit-transform: scale(0);
}

.unshrink {
    transition: transform 1s ease-out, opacity 1s ease-out;
    opacity: 1;
    transform: scale(1);
    -ms-transform: scale(1); 
    -webkit-transform: scale(1);
}

.slide-in {
    -webkit-animation: slide-in 1s linear;
    animation: slide-in 1s linear;
}

.slide-out {
    will-change: transform;
    transition: transform 1.5s ease-in-out;
}

.bounce { 
   -webkit-animation: bounce 1.5s infinite linear;
   animation: bounce 1.5s infinite linear;
}

@-webkit-keyframes bounce {
    0% { transform: translate(0px, 0px); }

    30% { transform:  translate(0px, 10px); }

    75% { transform: translate(0px, -25px); }

    100% { transform: translate(0px, 0px); }
}

@keyframes bounce {
    0% { transform: translate(0px, 0px); }

    30% { transform:  translate(0px, 10px); }

    75% { transform: translate(0px, -25px); }

    100% { transform: translate(0px, 0px); }
}

@-webkit-keyframes slide-in {
    0% { transform: translateX(100%) scale(0.2); }
    
    25% { transform: translateX(60%) scale(0.5); }
    
    50% { transform: translateX(20%) scale(0.5); }
    
    75% { transform: translateX(-20%) scale(0.7); }
    
    100% { transform: translateX(0%) scale(1); }
}

@keyframes slide-in {
    0% { transform: translateX(100%) scale(0.2); }
    
    25% { transform: translateX(60%) scale(0.5); }
    
    50% { transform: translateX(20%) scale(0.5); }
    
    75% { transform: translateX(-20%) scale(0.7); }
    
    100% { transform: translateX(0%) scale(1); }
}

@-webkit-keyframes slide-down {
    0% { opacity: 0; }
    
    25% { opacity: 0; }
    
    50% { opacity: 0; }
    
    75% { opacity: 0.6; }
    
    100% { opacity: 0.8; }
}

@keyframes slide-down {
    0% { opacity: 0; }
    
    25% { opacity: 0; }
    
    50% { opacity: 0; }
    
    75% { opacity: 0.6; }
    
    100% { opacity: 0.8; }
}

    
